@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-controller="Account" asp-action="Index" class="btn btn-primary">Navigate To Account Section</a>
    <a asp-controller="Person" asp-action="Index" class="btn btn-secondary">Navigate To Person Section</a>
</div>
